<a href="https://colab.research.google.com/github/KDinesh-Pro/Data-Engineering-with-Python/blob/master/Python_for_Data_Engineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practicles: Python for Data Engineering

In [ ]:
print("Hello Data Engineering")

Hello Data Engineering

 # Python Variables & Data Types
 Variables:

 Variables are the containers which holds values.

Data Types
- Integers
- Float
- String
- blooean

In [ ]:
Greetings ='Hello Data Engineering'
#print(Greetings)

Hello Data Engineering

In [ ]:
int_Var = 7
float_var = 3.12
str_var = 'Hello Data Engineering'
bool_var = True

In [ ]:
print(int_Var)

7

# Python Operators and Expressions
Operators:
- Used to perform operations
- Can be of multiple types
  - Arithmetic (+,-,*,/)
  - Comparison (><, !=, ==)
  - Logical ( AND, OR, NOT)

# Python Modules & Packages
Modules:
 - Python files
 - Define functions, classes, variables etc.
 - import into your code to use.

Packages:
  - Organize the code files.
  - To use package, installation needed.
  - Way to share code.

In [ ]:
 import math

In [ ]:
print(math.sqrt(16))

4.0

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [ ]:
import pandas as pd
data = {'name':['John','Anna','Peter'], 'Age':[20,30,40]}
df = pd.DataFrame(data)
print(df)

    name  Age
0   John   20
1   Anna   30
2  Peter   40

#Control Structures
-USed to control flow of execution
- Types
  - if statement
  - for loops
  - while loops

In [ ]:
num =100

if num >120 :
   print('Greater')
else :
  print('Smaller')

Smaller

In [ ]:
for i in range(10):
  print(i*2)

0
2
4
6
8
10
12
14
16
18

In [ ]:
number = 8
while number >= 0 :
  print(number)
  number = number-1

8
7
6
5
4
3
2
1
0

#Funtions
- Reusable code block.
- modularize the code.
- Helps in managing the large code.

In [ ]:
def greet():
  print("Hello World")

In [ ]:
greet()

Hello World

In [ ]:
def greet(name):
  print("Hello " + name)

In [ ]:
greet("Dinesh")

Hello Dinesh

In [ ]:
def add_numbers(num1, num2):
  return num1 + num2

In [ ]:
sum = add_numbers(10,20)
print(sum)

30

# String Manipulation
- Sequences of Characters
- They can be letters, numbers and symbols

In [ ]:
greetings = "Hello Data Engineering! "
print(greetings)

Hello Data Engineering!

In [ ]:
#add dynamic string in new result
name ='John'

message= greetings + name
print(message)

Hello Data Engineering! John

In [ ]:
# Add
new_str = greetings.replace('Hello', 'Hi')
print(new_str)

Hi Data Engineering!

In [ ]:
sentense = ' Data Engineering    '
print(sentense.strip())

Data Engineering

In [ ]:
index = greetings.find('Data')
print(index)

6

In [ ]:
template = 'Hello {}'
print(template.format('Dinesh'))

Hello Dinesh

In [ ]:
print(greetings.upper())

HELLO DATA ENGINEERING!

In [ ]:
print(greetings.lower())

hello data engineering!

In [ ]:
words = greetings.split()
print(words)

['Hello', 'Data', 'Engineering!']

# Error Handling
- Errors are inevitable
- Handle errors gracefully

In [ ]:
print(10/0)

ZeroDivisionError: division by zero

In [ ]:
try:
  print(10/0)
except ZeroDivisionError:
    print("Sorry you are dividing by zero")

In [ ]:
try:
  print(10/2)
except:
  print("Sorry you are dividing by Zero")
else:
  print("Nothing wrong happened")
finally:
  print("Execute always")

5.0
Nothing wrong happened
Execute always

# Python Collection Overview.
 Collection:
 - Containers to hold multiple items.
 - Can be any types
 - Variety of collection types available

Types of Collections:
 - List
   - Orderd in nature
   - Supports data changes
   - Mutable
  - Allow duplication
 - Tuple
  - Orderd in nature
  - Immutable
  - Doesn't Support data changes
  - Represents row in a table
 - Set
   - Supports unique elements
   - Useful for keeping unique list
 - Dictionary
  - Support JSON

In [ ]:
#Tuples

employee = (1, 'Dinesh', 'Developer',98323333)
print(employee)

#--------------------------------

print(employee[1])

#---------------------------------

print(len(employee))

(1, 'Dinesh', 'Developer', 98323333)
Dinesh
4

In [ ]:
#Tuple manipulation.

employee = (1, 'Dinesh', 'Developer',98323333)
new_emp = list(employee)
new_emp[1]= 'Dinesh Kumar'
employee = tuple(new_emp)
print(employee)

(1, 'Dinesh Kumar', 'Developer', 98323333)

In [ ]:
#Tuple Iterat

for a in employee:
  print(a)

1
Dinesh Kumar
Developer
98323333

In [ ]:
print(employee.index('Developer'))

2

In [ ]:
# List

tasks = ['development','testing','monitoring']
print(tasks)

['development', 'testing', 'monitoring']

In [ ]:
print(tasks[2])

monitoring

In [ ]:
# List Manipulation

tasks[1]='Production'
print(tasks)
print(tasks.index('Production'))

['development', 'Production', 'monitoring']
1

In [ ]:
# List Manipulation
print(tasks)

['development', 'Production', 'monitoring']